<% content_for(:title, t('.title')) %>
<section class="container px-4 mx-auto">
  <h2 class="mt-2 text-lg font-semibold text-gray-700 capitalize"><%= t('ideas.new.title') %></h2>
  <%= render "form", idea: @idea %>
</section>
